<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="LibraryManagementApplication" class="ConstructorandSetterInjection.LibraryManagementApplication"/>
    <bean id="BookService" class="ConstructorandSetterInjection.BookService">
        <constructor-arg ref="BookRepository"/>
        <property name="bookrepo" ref="BookRepository"/>
    </bean>
    <bean id="BookRepository" class="ConstructorandSetterInjection.BookRepository"/>
</beans>